---
layout: default
menu: home
css: ['index.css', 'sidebar-cv.css']
redirect_from: /test.html
---

{% include jumbotron.html %}

<section class="content container">

    <div class="row">

        <!-- Post List -->
        <div class="col-md-8">

            <ol class="post-list">
                {% for post in paginator.posts %}
                <li class="post-list-item">
                    <h2 class="post-list-title">
                        <a  href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <p class="post-list-description">
                        {{ post.excerpt | strip_html | strip }}
                    </p>
                    <p class="post-list-meta">
                        <span class="octicon octicon-calendar"></span> <span class="meta_data">{{ post.date | date: "%Y/%m/%d" }}</span>
                        <span id="{{ site.url }}{{ post.url }}" class="leancloud_visitors" data-flag-title="{{ post.title }}">
                             <span class="post-meta-item-icon">
                               <span class="octicon octicon-eye"></span> 
                             </span>
                             <span class="old-visitors-count" style="display: none;">{{post.views|first}}</span>
                             <span class="leancloud-visitors-count"></span>
                             <span class="post-meta-item-text">次浏览</span>
                        </span>
                        <span class="fa fa-comments"></span> 
                        <span class="ds-thread-count" data-thread-key="{{ post.title }}" data-count-type="comments"></span>
                    </p>
                </li>
                {% endfor %}
            </ol>
 
            <!-- Pagination -->
            {% include pagination.html %}


        </div>


        <div class="col-md-4">
            {% include sidebar-cv.html %}
        </div>

    </div>

    <!-- 多说最新评论 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"cloudchou2"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src =  '/assets/js/embed-duoshuo.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
    <!-- 多说公共JS代码 end -->

</section>

