<div class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile1.png{% endif %}" alt="profile picture" />
        <h1 class="name">{% if site.name %}{{site.name}}{% else %}Alan Doe{% endif %}</h1>
        <h3 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}Android Developer{% endif %}</h3>
    </div>
    <div class="job-container container-block">
        <h2 class="container-block-title">期望职位:</h2>
        <ul class="list-unstyled">
            <li>Android架构师</li>
            <li>Android高级工程师</li>
        </ul>
    </div>
    <div class="location-container  container-block">
        <h2 class="container-block-title">期望城市: 深圳</h2>
    </div>
    <!--//profile-container-->
    <div class="contact-container container-block">
        <h2 class="container-block-title">联系方式</h2>
        <ul class="list-unstyled contact-list">
            <li class="qq"><i class="fa fa-qq"></i><a href="tencent://message/?uin=515312382&Site=cloudchou.com&Menu=yes" target="_blank">515312382</a></li>
            <li class="phone"><i class="fa fa-phone"></i>+086-186-8879-1194</li>
            <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.github}}" target="_blank">github.com/{{site.github}}</a></li>
            <li class="website"><i class="fa fa-globe"></i><a href="http://{{site.website}}" target="_blank">{{site.website}}</a></li>
            <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.email}}">{{site.email}}</a></li>
            <li class="location"><i class="fa fa-location-arrow"></i> {{ site.location }}</li>
        </ul>
    </div>
    <div class="education-container container-block">
        <h2 class="container-block-title">教育</h2>
        <div class="item">
            <h4 class="degree">软件工程 研究生</h4>
            <h5 class="meta">中国科学技术大学</h5>
            <div class="time">2009 - 2012</div>
        </div>
        <!--//item-->
        <div class="item">
            <h4 class="degree">软件工程 本科</h4>
            <h5 class="meta">哈尔滨工业大学</h5>
            <div class="time">2005 - 2009</div>
        </div>
        <!--//item-->
    </div>
</div>
<!--//sidebar-wrapper-->
