<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>个人简介</h2>
    <div class="summary">
        <ol>
            <li>本人有5年Android开发经验,具有丰富的Android客户端架构经验</li>
            <li>深刻理解并熟练运用常用设计模式,实践中采用过单例模式,工厂模式,模版方法模式,观察者模式,桥接模式,职责链模式,外观模式,访问者模式,命令模式</li>
            <li>深入研究过Java多线程安全，并有较丰富的Java多线程程序设计经验</li>
            <li>深入研究过Android Binder机制，Activity启动流程，Android单元测试</li>
            <li>有较丰富的性能优化经验，包括内存性能优化和启动时间优化</li>
            <li>有非常强的问题定位及解决能力，在ANR问题，内存泄漏问题，OOM问题，以及其他常见问题的定位方面都有丰富的经验</li>
            <li>有团队管理经验，对技术人才有深刻理解</li>
        </ol>
        <p><a href="/assets/cv.pdf" target="_blank">下载本人简历</a>. </p>
    </div>
    <!--//summary-->
</section>
<!--//section-->
