<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>工作经历</h2>
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Android组组长</h3>
                <div class="time">2014.6 - Present</div>
            </div>
            <!--//upper-row-->
            <div class="company">腾讯, 深圳</div>
        </div>
    </div>
    <!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Android高级工程师</h3>
                <div class="time">2011.11 - 2014.05</div>
            </div>
            <!--//upper-row-->
            <div class="company">瓶子科技, 深圳</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>瓶子科技有刷机精灵和Root精灵等核心产品，2012年被腾讯全资收购</p>
        </div>
        <!--//details-->
    </div>
</section>
<!--//section-->
