<section class="jumbotron geopattern" data-pattern-id="{{ page.title }}">
    <div class="container">
        <div id="jumbotron-meta-info">      
            <h1>{{ page.title }}</h1>      
            <span class="meta-info">
                {% if page.subtitle %}
                    {{ page.subtitle }}
                {% endif %}
                {% if page.date %}
                <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
                {% endif %}
                <span id="{{ site.url }}{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}">
                     <span class="post-meta-item-icon">
                       <span class="octicon octicon-eye"></span> 
                     </span>
                     <span class="old-visitors-count" style="display: none;">{{page.views|first}}</span>
                     <span class="leancloud-visitors-count"></span>
                     <span class="post-meta-item-text">次浏览</span>
                </span>
            </span>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>