<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>技术 &amp; 熟练度</h2>
    <div class="skillset">
        <!--//item-->
        <div class="item">
            <h3 class="level-title">设计模式</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <div class="item">
            <h3 class="level-title">Java &amp; Android</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">C++ &amp; Ndk</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="65%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
    </div>
</section>
<!--//skills-section-->
